*{box-sizing: border-box;}

body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.bg{
    background: url('https://htmlcolorcodes.com/assets/images/colors/red-color-solid-background-1920x1080.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}